*

!*/

!/nvim/
!/nvim/**
!/hypr/
!/hypr/scripts/
!/waybar/
!/ghostty/
!/fastfetch/
!/nvim/*
!/hypr/**
!/waybar/**
!/ghostty/**
!/fastfetch/**
!/.zshrc
!/.bashrc
!/.vimrc
!/packages.txt
!/flatpak_packages.txt
!/.gitignore
