*

!*/

!/swaync/**
!/nvim/
!/icons/
!/icons/**
!/zathura/
!/zathura/**
!/nvim/**
!/hypr/
!/hypr/scripts/
!/waybar/
!/ghostty/
!/fastfetch/
!/nvim/*
!/hypr/**
!/waybar/**
!/ghostty/**
!/fastfetch/**
!/.zshrc
!/.bashrc
!/.vimrc
!/packages.txt
!/pacman.conf
!/flatpak_packages.txt
!/.gitignore
